body
{
    background: #fffff ;
}
.container
{
	margin: 0;
}

.sidebar
{
	background: white;
	border-radius: 0;
	height: inherit;
	display: block;
}


.margin-top-01 {
	margin-top: 1%;
}

.margin-top-05 {
	margin-top: 5%;
}

.form-control {
	margin-top: 10px;
}

.glyphicon{
	margin: -15px 11px 0px;
}

.loginerrorstyle{
	color:red;
}

.margin-top-15 {
	margin-top: 15%;
}